#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #121212;
  color: #fff;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  background: -webkit-linear-gradient(45deg, #09f1b8, #00a2ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}